*, *::after, *::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

body {
  background-color: #383838;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1, h2 {
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 58px;
}

h1, h3 {
  text-shadow: 0px 0px 80px #000000;
}

input {
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
  -webkit-app-region: auto;
  cursor: auto;
}

.greeting_msg {
  top: 20px;
}

.description_msg {
  color: white;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
  top: 20px;
  margin-top: 0;
}

.credits_msg, .credits_msg_link {
  color: white;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
}

.start_button, .button_center, .answer_button, .mode_select_buttons, .mode_select_buttons_special  {
  margin:0 auto;
  display:block;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 50%;
  right: 50%;
  width: 100%;
}

.start_button {
  font-family: 'Catamaran', sans-serif;
	background-color:#14b54c;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #32d642;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Yantramanav', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:16px 76px;
	text-decoration:none;
}
.start_button:hover {
	background-color:#ffffff;
  color: #14b54c;
}

.object_center {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
}

.bottom_bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px; /*0.00625rem*/
  background-color: #5e5d5d;
  text-align: center;
  color: white;
  clear: both;

}

.close_button {
	background-color: #842929;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:0px solid #c7b70a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Yantramanav', sans-serif;
	font-size:14px;
	padding:8px 8px;
	text-decoration:none;
  float: right;
  margin-top: 19px;
}
.close_button:hover {
	background-color:#ffffff;
  color:#842929;
}

.answer_button {
	background-color: #486db5;
  -moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #2c3196;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Yantramanav', sans-serif;
	font-size:18px;
	padding:12px 48px;
	text-decoration:none;
  font-family: 'Yantramanav', sans-serif;
  margin-top: 7px;
}
.answer_button:hover {
	background-color: #ffffff;
  color:#486db5;
}

.answer_box {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-content: center;
}

#answer_to_problem {
  background-color: #4f4f4f;
  outline-color: #4f4f4f;
  border: none;
  color: lightgray;
  font-size: 28px;
  text-align: center;
  font-family: 'Yantramanav', sans-serif;
}

#answer_to_problem:active, #answer_to_problem:hover {
  background-color: #464646;
}

#user_points {
  font-family: 'Passion One', cursive;
  margin-left: 15px;
  float: left;
  font-size: 19px;
  color: white;

}

.mode_select_buttons, .mode_select_buttons_special {
	background-color: #14b54c;
  -moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	border:1px solid #32d642;
	color:#ffffff;
	font-family: 'Yantramanav', sans-serif;
  font-size:27px;
	padding:5px 5px;
	text-decoration:none;
  margin-top: 5px;
}
.mode_select_buttons:hover, .mode_select_buttons_special:hover {
	background-color:#ffffff;
  color: #1c97b2;
}

.mode_select_buttons_special {
  background-color: #660a06;
  color:#ffffff;
}

#logo_image {
  z-index: -1;
  height: 500px;
  width: 500px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-content: center;
  filter: brightness(0.8);
}
